.authBox {
    width: 100%;
    min-height: 1000px;
    z-index: 10;
    background-color: #0b11218f;
    position: relative;
}

.dark .authBox {
    background-color: #0b1121;
}

.bg-blur-auth {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    --tw-backdrop-blur: blur(8px);
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 30px;
    border: 1px solid #c0a9dd;
}

.dark .bg-blur-auth {
    background-color: rgba(255, 255, 255, 0.18);
}

.marginTop5 {
    margin-top: 3%;
}

@media screen and (min-width:1500px) {
    .marginTop5 {
        margin-top: 8%;
    }
}

/* Effect Style */
.authBackEffect {
    position: absolute;
    top: 10%;
    right: 50%;
    margin-right: -300px;
    width: 600px;
    height: 300px;

}

.authBackEffectBox {
    width: 600px;
    height: 300px;
}

.bg-pic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    animation: float1 5s linear infinite;
}

.bg-pic:nth-child(1) {
    border-radius: 20px;
    width: 150px;
    height: 20px;
    background: linear-gradient(45deg, rgb(239, 255, 20), rgb(255, 212, 22));
    transform: rotateZ(-45deg);
    top: 80px;
    right: 100px;
}

.bg-pic:nth-child(2) {
    border-radius: 20px;
    width: 110px;
    height: 17px;
    background: linear-gradient(45deg, rgb(39, 255, 20), rgb(22, 84, 255));
    transform: rotateZ(-45deg);
    top: 10px;
    right: 100px;
}

.bg-pic:nth-child(3) {
    border-radius: 20px;
    width: 180px;
    height: 15px;
    background: linear-gradient(45deg, rgb(20, 24, 255), rgb(146, 0, 139));
    transform: rotateZ(-45deg);
    bottom: 50px;
    right: 55px;
}

.bg-pic:nth-child(4) {
    border-radius: 20px;
    width: 80px;
    height: 10px;
    background: linear-gradient(45deg, rgb(255, 20, 20), rgb(255, 22, 197));
    transform: rotateZ(-45deg);
    top: 80px;
    left: 80px;
}

.bg-pic:nth-child(5) {
    border-radius: 20px;
    width: 150px;
    height: 20px;
    background: linear-gradient(45deg, rgb(239, 255, 20), rgb(255, 212, 22));
    transform: rotateZ(-45deg);
    bottom: 75px;
    left: 50px;
}

.bg-pic:nth-child(6) {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: linear-gradient(45deg, rgb(47, 255, 20), rgb(22, 255, 92));
    transform: rotateZ(-45deg);
    bottom: 5px;
    left: 80px;
}

.bg-pic:nth-child(7) {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: linear-gradient(45deg, rgb(255, 210, 75), rgb(255, 235, 75));
    transform: rotateZ(-45deg);
    top: 155px;
    right: 85px;
}

.bg-pic:nth-child(8) {
    border-radius: 20px;
    width: 250px;
    height: 40px;
    background: linear-gradient(45deg, rgb(255, 240, 20), rgb(255, 167, 74));
    transform: rotateZ(-45deg);
    top: 200px;
    left: 85px;
}

.bg-pic:nth-child(9) {
    border-radius: 20px;
    width: 150px;
    height: 30px;
    background: linear-gradient(45deg, rgb(255, 220, 20), rgb(206, 0, 144));
    transform: rotateZ(-45deg);
    top: 70px;
    left: 110px;
}

.bg-pic:nth-child(10) {
    border-radius: 20px;
    width: 80px;
    height: 30px;
    background: linear-gradient(45deg, rgba(0, 184, 0, 0.699), rgb(90, 255, 31));
    transform: rotateZ(-45deg);
    bottom: 70px;
    right: 128px;
}

.bg-pic:nth-child(11) {
    border-radius: 20px;
    width: 170px;
    height: 30px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.7), rgb(195, 31, 255));
    transform: rotateZ(-45deg);
    top: 23px;
    right: 220px;
}

.bg-pic:nth-child(12) {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.966), rgb(91, 255, 113));
    transform: rotateZ(-45deg);
    top: 50px;
    right: 220px;
}

.bg-pic:nth-child(13) {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, rgba(255, 220, 146, 0.966), rgb(116, 91, 255));
    transform: rotateZ(-45deg);
    bottom: -2px;
    right: 345px;
}

.bg-pic:nth-child(14) {
    border-radius: 20px;
    width: 220px;
    height: 15px;
    background: linear-gradient(45deg, rgba(255, 220, 146, 0.966), rgb(244, 255, 91));
    transform: rotateZ(-45deg);
    bottom: 40px;
    left: 210px;
}

.bg-pic:nth-child(15) {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: linear-gradient(45deg, rgba(7, 255, 193, 0.966), rgb(36, 255, 146));
    transform: rotateZ(-45deg);
    top: 0;
    left: 270px;
}

.bg-pic:nth-child(16) {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: linear-gradient(45deg, rgba(255, 7, 234, 0.966), rgb(218, 36, 255));
    transform: rotateZ(-45deg);
    top: 65px;
    left: 75px;

}

.bg-pic:nth-child(17) {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: linear-gradient(45deg, rgba(255, 7, 7, 0.96), rgb(255, 36, 36));
    transform: rotateZ(-45deg);
    top: 0px;
    left: 120px;
}

.bg-pic:nth-child(18) {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: linear-gradient(45deg, rgba(110, 200, 255, 0.96), rgb(36, 255, 204));
    transform: rotateZ(-45deg);
    right: 237px;
    bottom: -20px;
}

.bg-pic:nth-child(19) {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: linear-gradient(45deg, rgba(255, 131, 0, 0.96), rgb(255, 139, 36));
    transform: rotateZ(-45deg);
    right: 92px;
    top: 80px;
}

.bg-pic:nth-child(20) {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background: linear-gradient(45deg, rgba(70, 255, 82, 0.96), rgb(63, 255, 36));
    transform: rotateZ(-45deg);
    right: 270px;
    bottom: 70px;
}



@keyframes float1 {
    0% {
        transform: translateY(0) rotateZ(-45deg);
    }

    50% {
        transform: translateY(-5px) translateX(-5px) rotateZ(-45deg);
    }

    100% {
        transform: translateY(0) rotateZ(-45deg);
    }
}



/* authCircle */
.authCircle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.authCircle:nth-child(1) {
    background-color: rgb(253, 250, 39);
    box-shadow: 0px 0px 20px 0px rgb(253, 250, 39);
    top: 50px;
    right: 50px;
}

.authCircle:nth-child(2) {
    background-color: rgb(255, 31, 244);
    box-shadow: 0px 0px 20px 0px rgb(255, 31, 244);
    top: 400px;
    right: 180px;
}

.authCircle:nth-child(3) {
    background-color: rgb(21, 240, 32);
    box-shadow: 0px 0px 20px 0px rgb(21, 240, 32);
    top: 80px;
    left: 150px;
}

.authCircle:nth-child(4) {
    background-color: rgb(255, 102, 31);
    box-shadow: 0px 0px 20px 0px rgb(255, 102, 31);
    top: 500px;
    left: 120px;
}

.authCircle:nth-child(5) {
    background-color: rgb(48, 203, 250);
    box-shadow: 0px 0px 20px 0px rgb(48, 203, 250);
    top: 250px;
    left: 200px;
}

.authCircle:nth-child(6) {
    background-color: rgb(207, 50, 255);
    box-shadow: 0px 0px 20px 0px rgb(207, 50, 255);
    top: 280px;
    right: 10px;
}


/* input style */
.authInput {
    background: rgb(255, 255, 255);
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
    border-radius: 30px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 2px outset rgba(255, 255, 255, 0.3);
    box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: 0.3s;
}

.authInput:focus {
    box-shadow: 0px 1px 24px -1px rgba(13, 33, 211, 0.555);
}

.authInput::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1;
    /* Firefox */
}

.authInput:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

.authInput::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}

/* btn style */
.authBtn {
    background: rgb(255, 255, 255);
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
    border-radius: 30px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 2px outset rgba(255, 255, 255, 0.3);
    box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: 0.3s;
}

.authBtn:hover {
    transform: translateY(-3px);
}


/* phone Number Input */
.alert {
    padding: 15px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-info {
    border-color: #bce8f1;
    color: #31708f;
    background-color: #d9edf7;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* register tel */

#iti-0__country-listbox {
    top: 50px;
    left: 0;
    border-radius: 5px;
    direction: ltr !important;
}


.iti__dial-code {
    color: #333 !important;
}

#phone {
    direction: ltr !important;
}