body {
    background: #f8fafc;
    background: url('./../img/general/lightBg.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body.dark {
    background: #0b1121;
    background: url('./../img/general/bg.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* fixed for big display */
@media screen and (min-width:1500px) {
    .Container {
        width: 1500px!important;
        margin: 30px auto!important;
    }
}